<h1>Articles Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :articles, params[:articles] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
<%= render 'search_result', articles: @articles %>
